@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Yelpcamp!</h1>
    <a asp-controller="Campgrounds" asp-action="Index" class="btn btn-lg btn-success font-weight-bold">View Campgrounds</a>
</div>
